html, body {
    color: aliceblue;
    margin:0px;
    background-image: url("Fietsers-.jpg");
    background-size: cover;
  }
span{
    margin-top: 1em;
    width: 25vw;
    margin-bottom: 0.5em;
}
input{
    height: 7vh;
    width: 25vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    width: 100vw;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container{
    background: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-submit-button {
    margin-top: 1em;
    background: #0066A2;
    color: white;
    border-style: none;
    height: 7vh;
    width: 7vw;
    text-shadow: none;
    opacity: 0.85;
}
.form-submit-button:hover{
    margin-top: 1em;
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 7vh;
    width: 7vw;
    text-shadow: none;
    opacity: 1;
}

